<div class='row'>
    
</div>
<div id='main' class='container-fluid'>
    <div class='row'>
        <div class='form-group col-sm-2 col-lg-3'>                
            <div id='filters' class="custom-control custom-checkbox">
                <input class="custom-control-input" id="englishOnly" {{#if englishOnly}}checked{{/if}} type="checkbox">
                <label class="custom-control-label" for="englishOnly">English only?</label>
                <br/>
                <input class="custom-control-input" id="includeTop" {{#if includeTop}}checked{{/if}} type="checkbox">
                <label class="custom-control-label" for="includeTop">Include Top games?</label>

                
            </div>
            <label for='gameList'>Top games:</label>
            <select id='gameList' multiple="multiple" class='form-control' size='20'>
                {{#eachInMap games}}
                    <option value='{{value.id}}' {{#if value.selected}}selected{{/if}}>{{value.name}}</option>
                {{/eachInMap}}
            </select>
            <br/>
            <label for='customGames'>Additional games: </label>
            <input type='text' id='customGames' class='form-control'/>

            <div id='actionButtons'>
                <button id='search' class='btn btn-primary'>Search</button>
                <!--
                <button id='clearTable' class='btn btn-secondary'>Clear Results</button>
                <button id='clearSearch' class='btn btn-secondary'>Clear Search</button>-->
            </div>
        </div>
        <div id='streams' class='col-sm-10 col-lg-9'>
        {{#if gridView}}
            <div class='row border border-secondary'>
            {{#eachInMap streams}}
                <div class='col-lg-2 col-md-3 col-sm-4 col-xs-6 py-1'>
                    <div class='row py-1 px-1'>
                        <a href='https://twitch.tv/{{value.login}}'><img src={{getStreamArt value.thumbnail_url}} style='width: 100%;'/></a>
                    </div>
                    <div class='row px-1'>
                        <div class='col-sm-2 px-0'>
                            <a href='https://www.twitch.tv/directory/game/{{getGameName value.game_id}}'><img src={{getGameArt value.game_id}}  class='align-middle' style='width: 100%; max-width: 90px;'/></a>
                        </div>
                        <div class='col-sm-10'>
                            <a href='https://twitch.tv/{{value.login}}'>{{value.login}}</a> with {{value.viewer_count}} viewers<br/>
                            {{getGameName value.game_id}}
                        </div>
                    </div>
                    <div class='row'>
                        <span style='font-style: italic;'>{{value.title}}</span><br/>
                    </div>
                </div>
            {{/eachInMap}}
            </div>
        {{else}}        
            {{#eachInMap streams}}
            <div class='row border border-secondary'>
                <div class='col-sm-2' style='padding: 0px;'>
                    <a href='https://twitch.tv/{{value.login}}'><img src={{getStreamArt value.thumbnail_url}} style='width: 100%;'/></a>
                </div>
                <div class='col-sm-10'><div class='row'>
                    <div class='col-lg-9 col-sm-12 border border-dark'>
                        <a href='https://twitch.tv/{{value.login}}'>{{value.login}}</a><br>
                        {{value.title}}
                    </div>
                    <div class='col-lg-1 col-sm-6 border border-dark'>
                        {{value.viewer_count}} viewers
                    </div>
                    <div class='col-lg-2 col-sm-6 border border-dark'>
                        <div class='d-none d-lg-block'>
                            <a href='https://www.twitch.tv/directory/game/{{getGameName value.game_id}}'><img src={{getGameArt value.game_id}} style='width: 100%; max-width: 90px;'/></a>
                            <br>
                            {{getGameName value.game_id}}
                        </div>
                    </div>
                </div></div>
            </div>
            {{/eachInMap}}
        {{/if}}
        </div>
    </div>
</div>

