<h1>Example: Home! {{boop}}</h1>

<div>{{porkchop}}</div>

<div id='streamers'>
    {{#eachInMap streamers}}
    <div class='row'>
        <div class='col-sm-2'>
            <img src={{getStreamArt value.thumbnail_url}}/>
        </div>
        <div class='col-sm-10'><div class='row'>
            <div class='col-lg-9 col-sm-12'>
                <a href='https://twitch.tv/{{value.login}}'>{{value.login}}</a>
            </div>
            <div class='col-lg-1 col-sm-6'>
                {{value.viewer_count}} viewers
            </div>
            <div class='col-lg-2 col-sm-6'>
                <div class='d-none d-lg-block'>
                    <img src={{getGameArt value.game_id}}/> <!-- Obviously change to game deets -->
                    <br>
                    {{getGameName value.game_id}} <!-- change to game deets -->
                </div>
            </div>
        </div></div>
    </div>
    {{/eachInMap}}
</div>